body{
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to left bottom, rgb(245, 146, 8), rgb(43, 41, 41), darkblue);
}
p{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: rgb(62, 38, 2)!important;


} 
h4{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    color: rgb(225, 236, 181) !important;
    margin-bottom: 1em;

}
h1{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 5em;
    color: rgb(243, 211, 198) !important;
    margin-bottom: 1em;
}
.results{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(230, 217, 173);
    border-radius: 100px;
}
.result{
    background-color: rgb(177, 177, 177);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
}
#img1{
    object-fit: cover !important;
    height: 100% !important;
    width: 100% !important;

}
button{

    border: 5px solid rgb(225, 193, 65);
    color:rgb(11, 11, 175);
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2em;
    border-radius: 50px;
    margin: 20px;
    background-color: rgb(176, 199, 247);

}
button:active{
    transform: scale(0.98);
}
button:focus{
    outline: none;
}
button:hover{
    color:rgb(180, 218, 231);
}